.date-selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 25rem;
  &-label {
    padding-left: 0.5rem;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  &-fields {
    display: flex;
    flex-direction: row;
    width: 100%;
    .select-field {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
