@use "../../styles/colors.scss" as v;
.button.primary-button {
  background-color: v.$button-primary-background;
  color: v.$button-primary-text;
  &:hover {
    background-color: v.$button-primary-background-hover;
  }
}
