@use "../../styles/colors.scss" as v;
.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
  height: 3rem;
  padding: 0.875rem 1.25rem;
  background-color: white;
  border: transparent;
  border-radius: 0.5rem;
  color: v.$primary;
}
