@use "../../styles/colors.scss" as v;
.textarea-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  span {
    display: flex;
    padding-left: 0.5rem;
    font-size: 0.875rem;
  }
  .textarea {
    display: flex;
    width: 100%;
    height: 7.6rem;
    padding: 0.5rem 0.875rem;
    border-radius: 0.5rem;
    border: 1px solid v.$input-border;
    background: v.$input-background;
  }
}
