.kyc-page {
  &-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 1.5rem 2rem;
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .kyc-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin-bottom: 1rem;

      .kyc-icon {
        width: 1rem;
        margin-right: 0.5rem;
        margin-top: 6px;
        flex: none;
        img {
          width: 100%;
        }
      }
    }
  }
}
