.root-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25rem;
  }
}
@media (min-width: 768px) {
  .root-wrapper-in {
    max-height: 56rem;
  }
}
