:root {
  --primary: #0c111d;
  --input-placeholder: #aaa;
}

$general-background: #fff;
$primary: #0c111d;
$general-hover-background: #f2f4f7;
$primary-hover-background: #1d2939;
$title-desc-text: #344054;
$label-text: #000000;
$input-border: #d0d5dd;
$input-border-light: #dedede;
$input-background: #ffffff;
$input-placeholder: #aaa;
$input-focus-border: #0c111d;

$button-border: $primary;
$button-background: $general-background;
$button-text: $primary;
$button-background-hover: $general-hover-background;
$button-primary-background: $primary;
$button-primary-text: $general-background;
$button-primary-background-hover: $primary-hover-background;
$title-block-title-text: $primary;
$title-block-desc-text: $title-desc-text;
$label-text: $label-text;
$input-border: $input-border;
$input-background: $input-background;
$input-placeholder: $input-placeholder;
$input-focus: $input-focus-border;
$radio-box: $primary;
$input-border-light: $input-border-light;
