$general-background: #fff;
$primary: #0c111d;
$general-hover-background: #f2f4f7;
$primary-hover-background: #1d2939;

$button-border: $primary;
$button-background: $general-background;
$button-text: $primary;
$button-background-hover: $general-hover-background;
$button-primary-background: $primary;
$button-primary-text: $general-background;
$button-primary-background-hover: $primary-hover-background;
