@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

html,
body,
#root {
  font-family: "DM Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}
