.sima-sign-page {
  background-color: #f3f4f7;
  &-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 1.5rem 2rem;
  }
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .sima-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1rem;

      .sima-icon {
        width: 1rem;
        margin-right: 0.5rem;
        margin-top: 0.875rem;
        flex: none;
        img {
          width: 100%;
        }
      }
    }
    .sima-logo {
      width: 6.375rem;
      margin-bottom: 1.5rem;
      img {
        width: 100%;
      }
    }
  }
  &-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 17.5rem;
    margin-bottom: 1rem;
    color: #344054;
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &-primary-btn,
  &-btn {
    margin-bottom: 1.25rem;
  }
  &-stores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    .google-play-link,
    .app-store-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .google-play-link {
      margin-right: 0.5rem;
    }
    .google-play-img,
    .app-store-img {
      width: 6.875rem;
      img {
        width: 100%;
      }
    }
  }
}
