.phone-number-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  .phone-field-label {
    .phone-field {
      background-color: white;
    }
  }
}
