.loader-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
}
.loader-text-in {
  font-weight: bold;
  font-family: sans-serif;
  animation: l1 1s linear infinite alternate;
}
.loader-text-in:before {
  content: "Loading...";
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
