@use "../../styles/colors.scss" as v;
.phone-field-label {
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    font-size: 0.875rem;
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .phone-field {
    display: flex;
    width: 100%;
    height: 2.68rem;
    position: relative;
    padding: 0 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid v.$input-border;
    background-color: white;
    &.disabled {
      background-color: #f3f4f7;
      border: 1px solid #98a2b3;
      color: #98a2b3;
    }
    &-left {
      display: flex;
      align-items: center;
      border-right: 1px solid #d0d5dd;
      padding-right: 0.625rem;
      font-size: 0.875rem;
    }
    .text-field label {
      padding: 0;
      margin: 0;
      input {
        border: none;
        height: 0;
      }
      span {
        margin: 0;
        padding: 0;
      }
    }
  }
}
